@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.bg {
  background: url(assets/img/Fractal-universe.jpeg);
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  filter: blur(0px);
  
} 

.loading-text {
  font-size: 50px;
  color: #ffffff;
}
